<!DOCTYPE html>

<html lang="en-us">
   <head>
      <title>Icarus</title>
      <meta charset="UTF-8">
      <meta name="author" content="Kabir Vidyarthi">
      <link rel="stylesheet" href="css_stuff/site_styling.css">
   </head>
   <body>
      404 resource <%=resource%> not found
   </body>
</html>